ADMIN_ALERT_EMAIL=
ADMIN_EMAIL=
EMAIL_PASS=
EMAIL_USER=
FIREBASE_API_KEY=
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
